.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

i{
  
  color: #be341f;
}

.Box{
  
  background-color: #b0b4b4;
  display: grid;
  flex-wrap: wrap;
  width: 250px;
  border-radius: 10px;
  height: 440px;
  border: 1px solid black;
  place-content: center;
  grid-template-columns: repeat(4, 50px); /* Creates 4 equal columns */
  grid-gap: 10px; /* Adjust the gap between grid items */
  /* Set a maximum width for the grid container */
  margin: 50px auto; /* Center the grid container horizontally */
}

/* Apply styles to the grid items */
.btn-style{
  background-color: #f9fdfd; /* Background color */
  color: #fafafa; /* Text color */
  margin: 0%;
  border-radius: 10px;
  text-align: left; /* Center text horizontally */
  grid-auto-flow: row;
}

.button1{
  width: 50px;
  height: 50px;
  background-color: #4b4c4c;
  border-radius: 10px;
}
.buttonC{
  width: 50px;
  height: 50px;
  background-color: #be341f;
  border-radius: 10px;
}
p{
  place-content: center;
  font-size: 2em;
  background-color: #282c34;
  color: #26be6d;
  height: 50px;
  width: 230px;
  border-radius:10px;

}
.equal{
  grid-column-start: 3; /* Start at the first column */
  grid-column-end: 5;
  
}
.btn-style1{
  /* Start at the first column */
  grid-column-start: 1;
  grid-column-end: 5;
  color:#050505;
  margin:0;
}

.butt{
  width: 100px;
  height: 50px;
  background-color: #26be6d;
  border-radius: 10px;
}


